/AccurateSorting/nbproject/private/
/AccurateSorting/build/
/AccurateSorting/dist/
/Stack/nbproject/private/
/Stack/build/
/Contacts/nbproject/private/
/Contacts/build/
/Contacts/dist/
/ZeroOneGame/nbproject/private/